modules = ["nodejs-20"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["eas-cli", "inshellisense"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm expo start --web --port 5000"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[userenv]

[userenv.shared]
EXPO_PUBLIC_INFURA_KEY = "1fbef7faf25d4370b344182d8cf522e5"
EXPO_PUBLIC_SUPABASE_URL = "https://equtwzwznzzkefhhnpab.supabase.co"
EXPO_PUBLIC_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVxdXR3end6bnp6a2VmaGhucGFiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2NzUxNTcsImV4cCI6MjA4OTI1MTE1N30.9hyoEBk2T-ubUlNZLG3zXG_x_VvZOZ7Tr206vCP7d-w"
EXPO_PUBLIC_PINATA_API_KEY = "a59538ac70f56bd82785"
EXPO_PUBLIC_PINATA_SECRET = "661e4c041a4ca40156a8d6575912587a2ad396c32d9b6a5c880b71f2a4cae304"
EXPO_PUBLIC_ETHERSCAN_API_KEY = "FCDXS6HJ1SJ293KPIDFAN61NZP75ZM1M1C"
EXPO_PUBLIC_BSCSCAN_API_KEY = "FCDXS6HJ1SJ293KPIDFAN61NZP75ZM1M1C"
EXPO_PUBLIC_POLYGONSCAN_API_KEY = "FCDXS6HJ1SJ293KPIDFAN61NZP75ZM1M1C"
EXPO_PUBLIC_ALCHEMY_KEY = "XfBJKlROAO8fx09bc08L5"

[deployment]
deploymentTarget = "static"
build = ["bash", "-c", "pnpm expo export --platform web"]
publicDir = "dist"
